*{
    padding: 0%;
    margin: 0%;
    text-shadow: 1px 2px 12px;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
}

.navbar{
    background-color: antiquewhite;
    padding: 15px;
    width: 100%;
    height: 25px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    color: tomato;
    font-size: large;
    font-weight: 500;
}
li{
    font-size: large;
    font-weight: 500;
    list-style: none;
    display: inline-block;
}
li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    font-weight: 500;
    color: rgb(194, 81, 81);
}
button a{
   color:rgb(143, 37, 37);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
button a:hover{
    color: blue;
}
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(194, 36, 36);
    font-size: large;
}
span{
    color: brown;
}