*{
    padding: 0%;
    margin: 0%;
}
/* html,body{
    height: 100%;
    width: 100%;
    display: flex; */
/* } */
/* div{
    height: 50px;
    width: 70px;
    background-color: aqua;
    border: solid 2px rebeccapurple;
    margin: 5px; */

/* } */
button{
    height: 30px;
    width: 100px;
    margin: 5px;
    font-size: large;
    background-color: aqua;
    border-radius: 10px;
}
button:hover{
    background-color: yellow
}
button:active{
    background-color: blueviolet;
}
p:hover{
    color: blue;
}
p:visited{
    color: red;
}
h1{
    color: aqua;
}
.yellow{
    color: royalblue; 
}
.cred{
    color: blueviolet;
}
.cpurple{
    color: chartreuse;
}
